@model IEnumerable<RSSReader.ViewModels.RSSFeedItem>
@{
    ViewData["Title"] = "Home Page";
}


@foreach (var item in Model) {
<div>
    @item.TitleStr
    <hr />
</div>
}

<!--<div class="row">
    <div class="col-md-3">
        <h2>Col 1</h2>
        <ul>
            <li>Text</li>
            <li>Text</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Col 2</h2>
        <ul>
            <li>Text</li>
            <li>Text</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Col 3</h2>
        <ul>
            <li>Text</li>
            <li>Text</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Col 4</h2>
        <ul>
            <li>Text</li>
            <li>Text</li>
        </ul>
    </div>
</div>-->
